@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding: 50px;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.circle-color {
  stroke: lightgrey;
}

.circle-fill {
  stroke: purple;
  stroke-dashoffset: 240;
}

.fill-02 {
  stroke-dasharray: 280;
}

.fill-03 {
  stroke-dasharray: 300;
}

.fill-04 {
  stroke-dasharray: 320;
}

.fill-05 {
  stroke-dasharray: 340;
}

.fill-06 {
  stroke-dasharray: 360;
}

.fill-07 {
  stroke-dasharray: 380;
}

.fill-08 {
  stroke-dasharray: 400;
}

.fill-09 {
  stroke-dasharray: 420;
}

.fill-10 {
  stroke-dasharray: 440;
}

.fill-11 {
  stroke-dasharray: 460;
}

.fill-12 {
  stroke-dasharray: 480;
}

#skill-circles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: grab;
  overflow-x: scroll;
}

#card-container {
  position: relative;
  /* margin: 30px; */
  /* width: 400px;
  height: 400px; */
  z-index: 1;
  float: left;
  perspective: 1000px;
}

img {
  /* width: 200px;
  height: 200px; */
  filter: brightness(0.3);
}

#card2 {
  /* width: 100%;
  height: 100%; */
  /* margin: 10%; */
  transform-style: preserve-3d;
  transition: all .8s linear;
  box-shadow: 5px 5px 15px rgba(0,0,0, .3);
}

#card2:hover {
    transform: rotateY(-180deg);
    box-shadow: -5px 5px 15px rgba(0,0,0, .3);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  opacity: .7;
}